{%load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="imagem/png"
        href="../media/filmes/Para-criar-textos-incríveis-como-este_-selecione-um-texto-e-clique-na-aba-Efeitos-na-barra-de-ferram.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Filme+</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <!-- Css Styles -->
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/elegant-icons.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/plyr.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/nice-select.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/slicknav.min.css'%}" type="text/css">
    <link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="./index.html">
                            <img src="img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="{% url 'home' %}">Inicio</a></li>
                                <li style="color:aliceblue ;">Categorias <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'filmes:filme_categoria' 'romance' %}">Romance</a></li>
                                        <li><a href="{% url 'filmes:filme_categoria' 'ação' %}">Ação</a></li>
                                        <li><a href="{% url 'filmes:filme_categoria' 'ficção' %}">Ficção</a></li>
                                        <li><a href="{% url 'filmes:filme_categoria' 'aventura' %}">Aventura</a></li>
                                        <li><a href="{% url 'filmes:filme_categoria' 'anime' %}">Anime</a></li>
                                        <li><a href="{% url 'filmes:filme_categoria' 'terror' %}">Terror</a></li>
                                        <li><a href="{% url 'filmes:filme_categoria' 'suspense' %}">Suspense</a></li>
                                    </ul>
                                </li>
                                <li style="color:aliceblue ;">Linguas <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'filmes:filme_lingua' 'português' %}">Portugues</a></li>
                                        <li><a href="{% url 'filmes:filme_lingua' 'Inglês' %}">Ingles</a></li>
                                        <li><a href="{% url 'filmes:filme_lingua' 'Espanhol' %}">Espanhol</a></li>
                                        <li><a href="{% url 'filmes:filme_lingua' 'Japônes' %}">Japônes</a></li>
                                    </ul>
                                </li>
                                <li style="color:aliceblue ;">Ano <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'filmes:filme_ano' year=2017 %}">2017</a></li>
                                        <li><a href="{% url 'filmes:filme_ano' year=2018 %}">2018</a></li>
                                        <li><a href="{% url 'filmes:filme_ano' year=2019 %}">2019</a></li>
                                        <li><a href="{% url 'filmes:filme_ano' year=2020 %}">2020</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a class=" mr-5 search-switch"><span class="icon_search"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Product Section Begin -->
    {%block body%}
    {%endblock body%}
    <!-- Product Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="./index.html">Homepage</a></li>
                            <li><a href="./categories.html">Categories</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> All rights reserved | This template
                        is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                            target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form" method="GET" action="{% url 'filmes:filme_pesquisa' %}">
                <input name='q' value="{{request.GET.q}}" type="text" id="search-input" placeholder="Pesquise aqui">
            </form>
        </div>
    </div>
    <!-- Search model end -->
    <!-- Js Plugins -->
    <script src="{%static 'js/jquery-3.3.1.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/player.js'%}"></script>
    <script src="{%static 'js/jquery.nice-select.min.js'%}"></script>
    <script src="{%static 'js/mixitup.min.js'%}"></script>
    <script src="{%static 'js/jquery.slicknav.js'%}"></script>
    <script src="{%static 'js/owl.carousel.min.js'%}"></script>
    <script src="{%static 'js/main.js'%}"></script>
</body>

</html>