{%extends 'base.html'%}
{%block body %}
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                {%if object.year%}
                                <h4>{{object.year|capfirst}}</h4>
                                {%endif%}
                                {%if object.year%}
                                <h4>{{object.year|capfirst}}</h4>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {%for filme in object_list %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" data-setbg="{{filme.imagem.url}}">
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li>{{filme.categoria}}</li>
                                    </ul>
                                    <h5><a href="{%url 'filmes:filme_detalhe' filme.slug %}">{{filme.titulo}}</a></h5>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                            <p class="ml-4" style="color:aliceblue ;">Não existe filmes nessa categoria.</p>
                        {%endfor%}
                    </div>
                </div>
                {%if is_paginated %}
                <div class="product__pagination">
                    {%if page_obj.has_previous%}
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-arrow-left"></i></a>
                    {%else%}
                    {%endif%}
                    {%for pages in page_obj.paginator.page_range%}
                    {%if page_obj.number == page%}
                    <a href="#" class="current-page">{{pages}}</a>
                    {%else%}
                    <a href="?page={{pages}}" class="current-page">{{pages}} </a>
                    {%endif%}
                    {%endfor%}

                    {%if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-double-right"></i></a>
                    {%else%}
                    {%endif%}
                </div>
                {%endif%}
            </div>
        </div>
</section>
{%endblock body%}